.p-contextmenu {
  width: 12.5em;
  padding: 0.25em;
  position: absolute;
  display: none;
}

.p-contextmenu .p-menu-separator {
  border-width: 1px 0 0 0;
}

.p-contextmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-contextmenu .p-submenu-list {
  display: none;
  position: absolute;
  width: 12.5em;
  padding: 0.25em;
  z-index: 1;
}

.p-contextmenu .p-menuitem-active > .p-submenu-list {
  display: block;
}

.p-contextmenu .p-menuitem-link {
  padding: 0.25em;
  display: block;
  position: relative;
}

.p-contextmenu .p-menuitem-icon {
  margin-right: 0.25em;
  vertical-align: middle;
}

.p-contextmenu .p-menuitem-text {
  vertical-align: middle;
}

.p-contextmenu .p-menuitem {
  position: relative;
}

.p-contextmenu .p-menuitem-link .p-submenu-icon {
  position: absolute;
  margin-top: -0.5em;
  right: 0;
  top: 50%;
}

.p-contextmenu .p-menuitem-active > .p-submenu > .p-submenu-list {
  display: block !important;
}

// RPO

body .p-menu .p-menuitem-link,
body .p-menubar .p-menuitem-link,
body .p-tieredmenu .p-menuitem-link,
body .p-contextmenu .p-menuitem-link,
body .p-megamenu .p-menuitem-link,
body .p-slidemenu .p-menuitem-link {
  padding: 0.714em 0.857em;
  color: #404040;
  font-weight: normal;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: background-color 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
}
body .p-menu .p-menuitem-link .p-menuitem-text,
body .p-menubar .p-menuitem-link .p-menuitem-text,
body .p-tieredmenu .p-menuitem-link .p-menuitem-text,
body .p-contextmenu .p-menuitem-link .p-menuitem-text,
body .p-megamenu .p-menuitem-link .p-menuitem-text,
body .p-slidemenu .p-menuitem-link .p-menuitem-text {
  color: #404040;
}
body .p-menu .p-menuitem-link .p-menuitem-icon,
body .p-menubar .p-menuitem-link .p-menuitem-icon,
body .p-tieredmenu .p-menuitem-link .p-menuitem-icon,
body .p-contextmenu .p-menuitem-link .p-menuitem-icon,
body .p-megamenu .p-menuitem-link .p-menuitem-icon,
body .p-slidemenu .p-menuitem-link .p-menuitem-icon {
  color: #404040;
  margin-right: 0.5em;
}
body .p-menu .p-menuitem-link:hover,
body .p-menubar .p-menuitem-link:hover,
body .p-tieredmenu .p-menuitem-link:hover,
body .p-contextmenu .p-menuitem-link:hover,
body .p-megamenu .p-menuitem-link:hover,
body .p-slidemenu .p-menuitem-link:hover {
  background-color: #eaeaea;
}
body .p-menu .p-menuitem-link:hover .p-menuitem-text,
body .p-menubar .p-menuitem-link:hover .p-menuitem-text,
body .p-tieredmenu .p-menuitem-link:hover .p-menuitem-text,
body .p-contextmenu .p-menuitem-link:hover .p-menuitem-text,
body .p-megamenu .p-menuitem-link:hover .p-menuitem-text,
body .p-slidemenu .p-menuitem-link:hover .p-menuitem-text {
  color: #404040;
}
body .p-menu .p-menuitem-link:hover .p-menuitem-icon,
body .p-menubar .p-menuitem-link:hover .p-menuitem-icon,
body .p-tieredmenu .p-menuitem-link:hover .p-menuitem-icon,
body .p-contextmenu .p-menuitem-link:hover .p-menuitem-icon,
body .p-megamenu .p-menuitem-link:hover .p-menuitem-icon,
body .p-slidemenu .p-menuitem-link:hover .p-menuitem-icon {
  color: #404040;
}

body .p-menu .p-menuitem-link:focus,
body .p-menubar .p-menuitem-link:focus,
body .p-tieredmenu .p-menuitem-link:focus,
body .p-contextmenu .p-menuitem-link:focus,
body .p-megamenu .p-menuitem-link:focus,
body .p-slidemenu .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 0.2em #004494;
  -moz-box-shadow: inset 0 0 0 0.2em #004494;
  box-shadow: inset 0 0 0 0.2em #004494;
}
